.card {
  background: #f2f2f2;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}

.cardTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  font-family: "BL Melody", sans-serif;
}

.orgBlock {
  border-bottom: 1px solid #eee;
}

.orgHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  font-weight: 600;
   font-family: var(--font-poppins), sans-serif;
}

.deleteBtn {
  background: #fff;
  border: 1px solid #7f00ff;
  color: #7f00ff;
  padding: 6px 14px;
  border-radius: 18px;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.field label {
  font-size: 15px;
  font-weight: 500;
  font-family: "BL Melody", sans-serif;
  color: #000;
}

.field span {
  color: red;
}

.input {
  height: 44px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0 14px;
  margin-top: 6px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.addWrap {
  display: flex;
  justify-content: flex-end;
}

.addBtn {
  background: #7f00ff;
  color: #fff;
  border: none;
  padding: 10px 26px;
  border-radius: 22px;
  font-family: "BL Melody", sans-serif;
}

.actionEnd {
  display: flex;
  justify-content: flex-end;
}

.nextBtn {
  background: #7f00ff;
  color: #fff;
  border: none;
  padding: 12px 44px;
  border-radius: 24px;
  font-family: "BL Melody", sans-serif;
}
