# dependencies
node_modules/

# next.js build output
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/dev/logs/

# environment files
.env
.env.local
.env.production
.env.development

# OS files
.DS_Store
Thumbs.db

# cache
.cache/

# history
.history
