.wrapper {
  width: 100%;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

/* COVER */
.cover {
  height: 120px;
  background: #3d3d3d;
}

/* CONTENT */
.content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: -40px;
}

/* AVATAR */
.avatar,
.avatarFallback {
  background: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.avatar {
  object-fit: cover;
}

.avatarFallback {
  background: #7f00ff;
  color: #ffffff;
  font-size: 32px;
  font-weight: 800;
}

/* INFO */
.info {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.name {
  font-size: 22px;
  font-weight: 800;
  margin: 0;
  color: #222;
  text-transform: uppercase;
  font-family: "BL Melody", sans-serif;
}
.name span {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #7f00ff;
  text-transform: capitalize;
  padding-left: 15px;
  font-family: "BL Melody", sans-serif;
}

.role {
  font-size: 14px;
  color: #777;
  margin-left: 6px;
}

.followInfo {
  display: flex;
  gap: 20px;
  margin-top: 6px;
  font-family: var(--font-poppins), sans-serif;
}

.followInfo span {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #7f00ff;
  font-family: var(--font-poppins), sans-serif;
}

.rank {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #222;
  font-family: var(--font-poppins), sans-serif;
}
