.overlay {
  position: fixed;
  inset: 0;
  background:  #F6F0FF;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
