.edit-wrapper {
  position: relative;
}

.edit-overlay {
  position: absolute;
  inset: 0;

  /* very light overlay */
  background: rgba(255, 255, 255, 0.45);

  /* light blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.25s ease;
  z-index: 10;
  border-radius: inherit;
}

.edit-wrapper:hover .edit-overlay {
  opacity: 1;
}
.edit-section{
  background: #7a12ff;
  padding: 10px 27px;
  display: flex;
  gap: 20px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
