@import "../../../globals.css";

.org-login-shell {
  min-height: 100vh;
  background-image: url("/images/background.png");
  background-size: cover;
  background-position: center;
  font-family: Inter, sans-serif;
  display: flex;
}

.org-login-left,
.org-login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-login-left img {
  max-width: 520px;
  width: 100%;
}

.org-login-card {
  width: 100%;
  max-width: 420px;
}

.org-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.org-sub {
  text-align: center;
  color: #777;
  margin-bottom: 24px;
}

.org-login-card label {
  font-weight: 600;
  margin-top: 12px;
  display: block;
}

.org-login-card input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  margin-top: 6px;
}

.pass-wrap {
  position: relative;
}

.pass-wrap span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgot {
  text-align: right;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 40px;
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
}

.org-foot {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.org-foot a {
  color: var(--primary-color);
  font-weight: 600;
}
.Switch-to-Organizer {
  color: var(--hover, #5606a6);
  text-align: right;
  cursor: pointer;
  /* BL melody */
  font-family: "BL Melody";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.organization-sections {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
}
