/* ===== SECTION ===== */

.wrapper {
  padding: 5rem 1rem;
  text-align: center;
}

.heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  font-family: "BL Melody", sans-serif;
}

.heading span {
  color: #7c3aed;
  font-family: var(--font-poppins), sans-serif;
}

/* ===== CARD ===== */

.statsCard {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: #150C2E;
  padding: 3.5rem 2rem;
  border-radius: 28px;
  color: #fff;
  box-shadow: 0 30px 80px rgba(60, 19, 97, 0.5);
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.statsCard::before {
  content: "";
  position: absolute;
  width: 402px;
  height: 184px;
  border-radius: 402px;
  background: rgba(253, 180, 27, 0.99);
  filter: blur(75px);
  opacity: 0.28;
  top: -40px;
  left: -60px;
  z-index: 0;
  pointer-events: none;
}

.statsCard::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 200px;
  border-radius: 350px;
  background: #752335;
  filter: blur(75px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
}

.statsCard .blob {
  position: absolute;
  width: 361px;
  height: 200px;
  border-radius: 361px;
  background: #183D70;
  filter: blur(75px);
  opacity: 0.84;
  bottom: -50px;
  right: -60px;
  z-index: 0;
  pointer-events: none;
}

.item {
  position: relative;
  z-index: 1;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.item.show {
  opacity: 1;
  transform: translateY(0);
}

.item h3 {
  font-size: 2.8rem;
  margin-bottom: 0.4rem;
}

.item p {
  opacity: 0.85;
  font-size: 0.95rem;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 640px) {
  .statsCard {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}