.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}
.field span {
  color: red;
}
.modal {
  background: #ffffff;
  width: 520px;
  max-width: 92%;
  border-radius: 12px;
  padding: 20px;
  position: relative;
}

/* Header */
.modalHeader {
  position: relative;
  text-align: center;
}

.modalTitle {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  margin-top: 15px;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 18px;
  font-family: "BL Melody", sans-serif;
}

/* Switch */
.switchRow {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin: 16px 0;
}

.switchRow span {
  padding: 6px 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.active {
  background: #7b2cff; /* pink */
  color: #fff;
  border-color: #7b2cff;
}

/* Form */
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field label {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  font-family: "BL Melody", sans-serif;
}

.input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d3d2d5;
  width: 100%;
  outline: none;
}

/* PINK FOCUS */
.input:focus {
  border-color: #7b2cff;
  box-shadow: 0 0 0 2px rgba(236, 72, 153, 0.2);
}

/* Footer */
.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 22px;
}

.primaryBtn {
  background: #7b2cff;
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "BL Melody", sans-serif;
}

.outlineBtn {
  background: #fff;
  border: 1px solid #7b2cff;
  color: #7b2cff;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "BL Melody", sans-serif;
}
