.tooltipWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipBox {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  color: #fff;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 6px;
  white-space: nowrap;
  z-index: 999;
  opacity: 0.95;
  transition: all 0.2s ease;
}

.tooltipBox::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
}
