.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.tooltipBox {
  position: absolute;
  background: #111;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.15s ease forwards;
}

/* TOP */
.top {
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}

/* BOTTOM */
.bottom {
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

/* LEFT */
.left {
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
}

/* RIGHT */
.right {
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
