.sidebar {
  width: 72px;
  background: #f2f2f2;
  border-radius: 18px;
  padding: 14px 10px;
  transition: width 0.25s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 85%;
}

.expand {
  width: 240px;
}

/* MENU ITEM */
.menu {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
}

.menu:hover {
  background: #eee6ff;
}

.menu img {
  width: 22px;
  height: 22px;
}

/* MENU TEXT */
.menuText {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #333;
}

.arrow {
  font-size: 11px;
}

/* DROPDOWN */
.dropdown {
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  padding: 6px 10px;
  border-radius: 8px;
  background: #f5f5f5;
}

.dropdown a:hover {
  background: #eee6ff;
  color: #7f00ff;
}

.bottomProfile {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  border-top: 1px solid #eee;
  cursor: pointer;
}

.profileImg {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.profileCircle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #7a12ff;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileText {
  font-size: 15px;
  font-weight: 700;
  color: #333;

  max-width: 120px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profileTextEmail {
  font-size: 14px;
  font-weight: 600;
  color: #7f00ff;

  max-width: 140px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exitImage {
  width: 30px;
  padding-left: 10px;
}
