.wrapper {
  /* padding: 5rem 1rem; */
  text-align: center;
  overflow: hidden;
}

.wrapper h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.wrapper span {
  color: #7c3aed;
}

/* ================= MARQUEE ================= */

.marquee {
  /* overflow: hidden; */
  margin-bottom: 2.5rem;
}

.track {
  display: flex;
  gap: 2.5rem;
  width: max-content;
}

/* LEFT → RIGHT */
.left {
  animation: scrollLeft 30s linear infinite;
}

/* RIGHT → LEFT */
.right {
  animation: scrollRight 30s linear infinite;
}

/* ================= CARD ================= */
.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  /* width: 260px; */
  background: #fff;
  padding: 2rem 1.5rem;
  border-radius: 18px;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08); */
  text-align: left;
  flex-shrink: 0;
  width: 313;
  height: 181;
  opacity: 1;

}

.emoji {
  opacity: 1;
  background: #f2f2f2;
  border-radius: 30px;
  margin-bottom: .5rem;
  font-size: 2.2rem;
  box-shadow: 0 3.27px 5.55px #0000001a;
}

.card h4 {
  margin-bottom: 0.2rem;
  font-size: 1rem;
}

.card span {
  font-size: 0.85rem;
  color: #777;
}

.card p {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #444;
}

/* ================= ANIMATIONS ================= */

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
  .card {
    width: 220px;
  }

  .left,
  .right {
    animation-duration: 20s;
  }
}