.wrapper {
  padding: 20px;
}

.wrapper {
  padding: 20px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  font-family: "BL Melody", sans-serif;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

/* IMAGE */
.imageWrap {
  position: relative;
  height: 160px;
  padding: 10px;
}

.imageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.offer {
  position: absolute;
  top: 10px;
  left: -30px;
  background: #ffcc00;
  color: #000;
  padding: 4px 40px;
  font-size: 12px;
  transform: rotate(-45deg);
}

/* CONTENT */
.content {
  padding: 14px;
}

.content h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
}

.badge {
  background: #eee;
  border-radius: 20px;
  padding: 4px 10px;
  display: flex;
  gap: 7px;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
}

.pagination .active {
  background: #6c2bd9;
  color: #fff;
  border-color: #6c2bd9;
}

/* EMPTY */
.emptyState {
  text-align: center;
  margin-top: 60px;
}
.topcontent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emptyState img {
  width: 200px;
  margin-bottom: 20px;
}

.emptyState button {
  margin-top: 10px;
  padding: 10px 18px;
  border-radius: 8px;
  background: #6c2bd9;
  color: #fff;
  border: none;
}
