@font-face {
  font-family: "BL Melody";
  src: url("/fonts/BLMelody-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BL Melody";
  src: url("/fonts/BLMelody-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ================= TOAST STYLES ================= */

/* WARNING TOAST */
.toast-warning {
  border: 1px solid #facc15 !important;
  background: #fffbeb !important;
  color: #92400e !important;
  font-weight: 500;
}

/* SUCCESS TOAST */
.toast-success {
  border: 1px solid #22c55e !important;
  background: #ecfdf5 !important;
  color: #065f46 !important;
  font-weight: 500;
}

/* ERROR TOAST */
.toast-error {
  border: 1px solid #ef4444 !important;
  background: #fef2f2 !important;
  color: #7f1d1d !important;
  font-weight: 500;
}
/* ================= IN-APP NOTIFICATION ================= */

.inapp-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.inapp-card {
  width: 320px;
  background: #fff;
  padding: 14px;
  border-radius: 14px;
  display: flex;
  gap: 12px;
  align-items: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  animation: slideDown 0.3s ease;
}

.inapp-card img {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  object-fit: cover;
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
