@font-face {
  font-family: "BL Melody";
  src: url("/fonts/BLMelody-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BL Melody";
  src: url("/fonts/BLMelody-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
