.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -30px;
  z-index: 99;
  position: relative;
}

.card {
  background: #fffffff2;
  width: 82%;
  max-width: 980px;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid var(--Primary, #7f00ff);
  background: rgba(248, 250, 255, 0.5);
  /* backdrop-filter: blur(15.649999618530273px); */
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 28px; */
  /* flex-wrap: wrap; */
}

.col {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 22px;
}

.title {
  font-weight: 700;
  font-family: "BL Melody", sans-serif;
}

.sub {
  font-size: 13px;
  color: #777;
  margin-top: 3px;
  font-family: var(--font-poppins), sans-serif;
}

/* RESPONSIVE */

@media (max-width: 720px) {
  .card {
    width: 94%;
    padding: 14px;
  }

  .row {
    align-items: stretch;
    gap: 12px;
  }
}
