.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -30px;
  z-index: 99;
  position: relative;
}

.card {
  width: 82%;
  max-width: 980px;
  /* backdrop-filter: blur(12px); */
  border-radius: 18px;
  padding: 20px;
  background: rgba(255,255,255,0.95);
  box-shadow:
    0 3px 5px rgba(0,0,0,0.04),
    0 12px 22px rgba(127,43,255,0.10);
  border: 2px solid rgba(150,78,255,0.12);
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 28px; */
  /* flex-wrap: wrap; */
}

.col {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 22px;
}

.title {
  font-weight: 700;
}

.sub {
  font-size: 13px;
  color: #777;
  margin-top: 3px;
}

/* RESPONSIVE */

@media (max-width: 720px) {
  .card {
    width: 94%;
    padding: 14px;
  }

  .row {
    align-items: stretch;
    gap: 12px;
  }
}
