/* OVERLAY */
.delete-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* MODAL */
.delete-modal {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

/* LOGO */
.delete-logo {
  width: 150px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* TEXT */
.delete-text {
  font-size: 14px;
  color: #333;
  margin-bottom: 18px;
  font-family: var(--font-poppins), sans-serif;
}

/* INPUT */
.delete-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.delete-input:focus {
  outline: none;
  border-color: #7a12ff;
}

/* BUTTON ROW */
.delete-btn-row {
  display: flex;
  gap: 15px;
  justify-content: center;
}

/* CANCEL */
.delete-cancel-btn {
  background: #ffffff;
  border: 1px solid #000000;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  font-family: "BL Melody", sans-serif;
}

/* CONFIRM */
.delete-confirm-btn {
  background: #7a12ff;
  border: none;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  font-family: "BL Melody", sans-serif;
}
