/* ===== Overlay ===== */
.child-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Modal Box ===== */
.child-modal {
  background: #ffffff;
  border-radius: 16px;
  width: 600px;
  max-width: 95%;
  padding: 24px 28px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* ===== Header ===== */
.modal-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-header h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: "BL Melody", sans-serif;
}

/* ===== Body ===== */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body label {
  font-size: 14px;
  font-weight: 600;
}

.modal-body textarea {
  width: 100%;
  height: 110px;
  resize: none;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: 12px 14px;
  font-size: 14px;
  outline: none;
}

.modal-body textarea:focus {
  border-color: #7a12ff;
}

/* character count */
.char-count {
  text-align: right;
  font-size: 12px;
  color: #7a12ff;
   font-family: var(--font-poppins), sans-serif;
}

/* ===== Footer ===== */
.modal-footer {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 30px;
}

/* Reset button */
.outline-btn {
  background: #fff;
  border: 1px solid #999;
  border-radius: 24px;
  padding: 10px 32px;
  font-size: 14px;
  cursor: pointer;
}

/* Save button */
.primary-btn {
  background: #7a12ff;
  color: #fff;
  border: none;
  border-radius: 24px;
  padding: 10px 36px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.primary-btn:hover {
  background: #6510d8;
}

/* ===== Responsive ===== */
@media (max-width: 600px) {
  .child-modal {
    padding: 20px;
  }

  .modal-footer {
    flex-direction: column;
  }

  .outline-btn,
  .primary-btn {
    width: 100%;
  }
}
