/* CARD */
.event-card {
  width: 315px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 13.91px;
  border: 1.5px solid #e9e9e9;
}

/* IMAGE */
.event-img {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 150px;
  padding: 7px;
  border-radius: 17px;
}

/* TEXT */
.text-sm {
  font-size: 13px;
}
.land-title {
  font-family: "BL Melody", sans-serif;
}
/* ELLIPSIS */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  width: 231px;
  text-overflow: ellipsis;
  font-family: var(--font-poppins), sans-serif;
}
.card-titel {
  font-family: "BL Melody", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  width: 231px;
  text-overflow: ellipsis;
}
.event-details {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #121111;
  font-family: var(--font-poppins), sans-serif;
}
/* PAID BADGE */
.badge-paid {
  color: #1c1c1c;
  background-color: #e9d4ff;
  border: 1px solid #7f00ff;
  border-radius: 20px;
  padding: 4px 29px;
  font-size: 12px;
  font-weight: 600;
  font-family: var(--font-poppins), sans-serif;
}

/* MODE */
.mode-online {
  color: #121111;
  font-weight: 700;
}

.mode-offline {
  color: #121111;
  font-weight: 700;
}

/* DATE & TIME */
.event-date {
  font-size: 12px;
  color: #1c1c1c;
}

.event-time {
  font-size: 12px;
  color: #555;
}

/* VIEW BADGE */
.view-badge {
  background: #f3f3f3;
  padding: 5px 14px;
  border-radius: 18px;
  font-size: 12px;
}
.event-datetime {
  font-size: 13px;
  color: #555;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.event-dt-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dt-icon svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.dt-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  white-space: nowrap;
}
.see-all-btn {
  color: #7b2cff;
  cursor: pointer;
  background: none;
  border: 1px solid #7b2cff;
  border-radius: 30px;
  padding: 6px 25px;
  text-transform: capitalize;
  font-family: "BL Melody", sans-serif;
}
.see-all-btn:hover {
  background: #7b2cff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
