.root {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* FULL DESIGN IMAGE */
.bgImage {
  width: 100%;
  height: auto;
  display: block;
}

/* CLICKABLE TITLE */
.title {
  position: absolute;
  top: 20%;
  left: 6%;
  max-width: 520px;

  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  color: #1c1c1c;
  font-family: "BL Melody", sans-serif;
}
.subtitle {
  position: absolute;
  top: 35%;
  left: 6%;
  max-width: 520px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  color: #1c1c1c;
  font-family: "BL Melody", sans-serif;
}

.title span , .subtitle span{
  color: #7f00ff;
}

/* STORE BUTTONS */
.stores {
  position: absolute;
  top: 42%;
  left: 6%;
  display: flex;
  gap: 18px;
}

.stores img {
  height: 48px;
  cursor: pointer;
}

/* -------------------------
   RESPONSIVE
------------------------- */
@media (max-width: 1024px) {
  .title {
    font-size: 32px;
  }

  .stores img {
    height: 44px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 26px;
    max-width: 90%;
  }

  .stores {
    top: 50%;
    flex-direction: column;
    gap: 14px;
  }

  .stores img {
    height: 42px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 22px;
  }

  .stores img {
    height: 38px;
  }
}
