.root {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Background Image */
.bgImage {
  width: 100%;
  height: auto;
  display: block;
}

/* Main Content Wrapper */
.content {
  position: absolute;
  top: 20%;
  left: 6%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Title */
.title {
  font-size: clamp(8px, 2.5vw, 34px);
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  color: #1c1c1c;
  font-family: "BL Melody", sans-serif;
}

.subtitle {
  font-size: clamp(8px, 1.6vw, 20px);
  font-weight: 700;
  color: #1c1c1c;
  font-family: "BL Melody", sans-serif;
}

.title span,
.subtitle span {
  color: #7f00ff;
}

/* Store Buttons */
.stores {
  display: flex;
  gap: 18px;
}

.storeItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  text-decoration: none;
  color: #1c1c1c;
}

.storeItem img {
  height: clamp(10px, 3vw, 48px);
  cursor: pointer;
}

/* Tablet */
@media (max-width: 768px) {
  .content {
    top: 14%;
    max-width: 45%;
  }

  .stores {
    flex-direction: row;
    gap: 8px;
  }
   .storeItem span {
    font-size: 12px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .content {
    top: 7%;
     max-width: 55%;
  }
  .stores{
      flex-direction: row;
    gap: 4px;
  }
   .storeItem span {
    font-size: 8px;
  }
}
